# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Project outputs
results/

# Editor/OS settings
.vscode/
.idea/
.vs/
Thumbs.db
Desktop.ini

# Zip files / backups
*.zip
*.tar.gz
*.rar
